[submodule "vendor/github.com/dropbox/dropbox-sdk-go-unofficial"]
	path = vendor/github.com/dropbox/dropbox-sdk-go-unofficial
	url = https://github.com/dropbox/dropbox-sdk-go-unofficial
	ignore = dirty
[submodule "vendor/github.com/phoreproject/go-x11"]
	path = vendor/github.com/phoreproject/go-x11
	url = https://github.com/phoreproject/go-x11
